In [14]:
import sys
sys.path.append('/home/jeremy/Library')
from storage.cherrytree_xml import CherryTree
import pandas as pd
from pathlib import Path

In [54]:
ct = CherryTree('synopsis.ctd')
df = pd.DataFrame([(n.name, n.parent.name) \
                  for n in ct.nodes() if n.parent], columns=['node', 'parent'] )
#                   for l in n.links], columns=['node', 'link'])
df[df.duplicated('node')].drop_duplicates('node').node

Series([], Name: node, dtype: object)

In [48]:
df.head()

                           node                   link
0     Ri-002 Drops Paratroopers   kalimantan_para_drop
1                 VTCLA Crashes         vt-cla_crashes
2         First Boedi Interview    cameron_meets_boedi
3  Freewheeling Boedi Interview            company_man
4       Cameron Keeps Pestering  sabam_assigns_article